body, html {
    height: 100%;
  }
.bg {
    /* The image used */
    background-image: url("LightBulb.jpg");

  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-text{ 
    color: white;
    padding-top: 100px;
}
hr{
    background-color:white;
}
.row1{
    padding-top: 100px;
    color: white;
    padding-left: 75px;
}
